*,
body,
html {
    padding: 0px;
    margin: 0px;
    
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: #70a1ff;
    font: 1em;
    text-rendering: optimizeLegibility;
    --webkit-font-smoothing: antialiased;
	display: flex;
	
}